.so-widget-sow-post-carousel-default-45efc63649fa .sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item {
  width: 921.6px;
}
.so-widget-sow-post-carousel-default-45efc63649fa .sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item .sow-carousel-thumbnail a {
  background-repeat: no-repeat;
  background-size: 921.6px 921.6px;
}
.so-widget-sow-post-carousel-default-45efc63649fa .sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item .sow-carousel-thumbnail a,
.so-widget-sow-post-carousel-default-45efc63649fa .sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item .sow-carousel-thumbnail a span.overlay {
  width: 921.6px;
  height: 921.6px;
}
.so-widget-sow-post-carousel-default-45efc63649fa .sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item .sow-carousel-thumbnail a:hover {
  background-size: 1024px 1024px;
}
.so-widget-sow-post-carousel-default-45efc63649fa .sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item .sow-carousel-default-thumbnail {
  width: 921.6px;
  height: 921.6px;
}
.so-widget-sow-post-carousel-default-45efc63649fa .sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-loading {
  width: 921.6px;
  height: 921.6px;
}