.so-widget-sow-social-media-buttons-flat-f527367f8eac .social-media-button-container {
  zoom: 1;
  text-align: center;
  /*
    &:after {
        content:"";
        display:inline-block;
        width:100%;
    }
    */
}
.so-widget-sow-social-media-buttons-flat-f527367f8eac .social-media-button-container:before {
  content: '';
  display: block;
}
.so-widget-sow-social-media-buttons-flat-f527367f8eac .social-media-button-container:after {
  content: '';
  display: table;
  clear: both;
}
.so-widget-sow-social-media-buttons-flat-f527367f8eac .sow-social-media-button-facebook {
  color: #ffffff !important;
  background-color: #0a0303;
  border: 1px solid #0a0303;
}
.so-widget-sow-social-media-buttons-flat-f527367f8eac .sow-social-media-button-facebook:visited,
.so-widget-sow-social-media-buttons-flat-f527367f8eac .sow-social-media-button-facebook:active,
.so-widget-sow-social-media-buttons-flat-f527367f8eac .sow-social-media-button-facebook:hover {
  color: #ffffff !important;
}
.so-widget-sow-social-media-buttons-flat-f527367f8eac .sow-social-media-button-facebook.ow-button-hover:hover {
  color: #ffffff;
}
.so-widget-sow-social-media-buttons-flat-f527367f8eac .sow-social-media-button-facebook.ow-button-hover:hover {
  background: #1a0808;
  border-bottom-color: #1a0808;
}
.so-widget-sow-social-media-buttons-flat-f527367f8eac .sow-social-media-button-twitter {
  color: #ffffff !important;
  background-color: #000000;
  border: 1px solid #000000;
}
.so-widget-sow-social-media-buttons-flat-f527367f8eac .sow-social-media-button-twitter:visited,
.so-widget-sow-social-media-buttons-flat-f527367f8eac .sow-social-media-button-twitter:active,
.so-widget-sow-social-media-buttons-flat-f527367f8eac .sow-social-media-button-twitter:hover {
  color: #ffffff !important;
}
.so-widget-sow-social-media-buttons-flat-f527367f8eac .sow-social-media-button-twitter.ow-button-hover:hover {
  color: #ffffff;
}
.so-widget-sow-social-media-buttons-flat-f527367f8eac .sow-social-media-button-twitter.ow-button-hover:hover {
  background: #0a0a0a;
  border-bottom-color: #0a0a0a;
}
.so-widget-sow-social-media-buttons-flat-f527367f8eac .sow-social-media-button-linkedin {
  color: #ffffff !important;
  background-color: #000000;
  border: 1px solid #000000;
}
.so-widget-sow-social-media-buttons-flat-f527367f8eac .sow-social-media-button-linkedin:visited,
.so-widget-sow-social-media-buttons-flat-f527367f8eac .sow-social-media-button-linkedin:active,
.so-widget-sow-social-media-buttons-flat-f527367f8eac .sow-social-media-button-linkedin:hover {
  color: #ffffff !important;
}
.so-widget-sow-social-media-buttons-flat-f527367f8eac .sow-social-media-button-linkedin.ow-button-hover:hover {
  color: #ffffff;
}
.so-widget-sow-social-media-buttons-flat-f527367f8eac .sow-social-media-button-linkedin.ow-button-hover:hover {
  background: #0a0a0a;
  border-bottom-color: #0a0a0a;
}
.so-widget-sow-social-media-buttons-flat-f527367f8eac .sow-social-media-button {
  font-size: 1.33em;
  padding: 1em 1em;
  margin: 0.1em 0.05em 0.1em 0.05em;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 1em;
  -webkit-border-radius: 1.5em;
  -moz-border-radius: 1.5em;
  border-radius: 1.5em;
}
.so-widget-sow-social-media-buttons-flat-f527367f8eac .sow-social-media-button .sow-icon-fontawesome {
  width: 1em;
  height: 1em;
  display: inline-block;
}