.so-widget-sow-post-carousel-default-a4e1d2168679 .sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item {
  width: px;
}
.so-widget-sow-post-carousel-default-a4e1d2168679 .sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item .sow-carousel-thumbnail a {
  background-repeat: no-repeat;
  background-size: px px;
}
.so-widget-sow-post-carousel-default-a4e1d2168679 .sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item .sow-carousel-thumbnail a,
.so-widget-sow-post-carousel-default-a4e1d2168679 .sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item .sow-carousel-thumbnail a span.overlay {
  width: px;
  height: px;
}
.so-widget-sow-post-carousel-default-a4e1d2168679 .sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item .sow-carousel-thumbnail a:hover {
  background-size: px px;
}
.so-widget-sow-post-carousel-default-a4e1d2168679 .sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item .sow-carousel-default-thumbnail {
  width: px;
  height: px;
}
.so-widget-sow-post-carousel-default-a4e1d2168679 .sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-loading {
  width: px;
  height: px;
}